{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<!-- formulario de postagem-->
<div class="card bg-transparent mb-3">
    <div class="card-body">

        <form action="/admin/postagens/nova" method="POST">
            <label for="titulo" >Título</label>
                <input class="form-control" type="text" id="titulo" name="titulo" placeholder="Título do seu post">
            <label for="slug">Slug</label>
                <input class="form-control" type="text" id="slug" name="slug" placeholder="slug">
            <label for="descricao">Descrição</label>
                <input class="form-control" type="text" id="descricao" name="descricao" maxlength="100" placeholder="Descrição do Post"> 
            <label for="conteudo">Conteúdo</label>
                <textarea class="form-control" name="conteudo"></textarea>

            <label for="categoria">Categoria:</label>
                <select name="categoria" class="custom-select">
                    {{#each categorias}}
                        <option value="{{id}}">{{nome}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria encontrada.</option>
                    {{/each}}
                </select>

            <button type="submit" class="btn btn-info mt-2">Cadastrar Postagem</button>    
        </form>

    </div>
</div>